.NavBar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100px;
   background-color: #010101;
}

.NavBar li a {
   display: block;
   color: white;
   padding: 8px 16px;
   text-decoration: none;
}

.Navbar li a.active {
   background-color: #1098F3;
   color: white;
}

.Navbar li a:hover:not(.active) {
   background-color: #555;
   color: white;
}

h1 {
   color: white;
   font-family: calibri;
   font-size: 350%;
}

h1 {
   margin: 50px;
}

body {
   background-color: black;
}

body {
   background-image: url("http://assets.slush.org/2014/08/berlin.jpg")
}

h1 {
   color: white;
}

#Linklist ul {
   color: white;
}

#Linklist a:link {
   color: white;
   background-color: transparent;
   text-decoration: none;
}
